<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" href="<%= products_path %>">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= product_variants_path %>">Product Variants</a>
        </li>
      </ul>
    </div>
  </div>
</div>
